name: Terraform Deployment to GCP

on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch: 

jobs:
  # Job 1: Terraform Plan
  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    # environment: 
    #   name: production

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v5

      # Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      # Set up Google Cloud credentials
      - name: Set up GCP credentials
        uses: google-github-actions/setup-gcloud@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY_DEV }}

      # Authenticate to GCP
      - name: Authenticate to GCP
        run: gcloud auth activate-service-account --key-file="${{ secrets.GCP_SA_KEY_DEV }}"

      # Set the GCP project ID
      - name: Set GCP project
        run: gcloud config set project ${{ secrets.GCP_PROJECT }}

      # Initialize Terraform
      - name: Terraform Init
        run: terraform init

      # Run Terraform Plan
      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # Upload Terraform Plan as artifact
      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: tfplan

  # Job 2: Terraform Apply
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: terraform-plan
    environment: 
      name: dev

    steps:
      # Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v5

      # Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.1.7"

      # Set up Google Cloud credentials
      - name: Set up GCP credentials
        uses: google-github-actions/setup-gcloud@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY_DEV }}

      # Authenticate to GCP
      - name: Authenticate to GCP
        run: gcloud auth activate-service-account --key-file="${{ secrets.GCP_SA_KEY_DEV }}"

      # Set the GCP project ID
      - name: Set GCP project
        run: gcloud config set project ${{ secrets.GCP_PROJECT }}

      # Initialize Terraform
      - name: Terraform Init
        run: terraform init

      # Download the Terraform plan artifact
      - name: Download Terraform Plan
        uses: actions/download-artifact@v3
        with:
          name: terraform-plan
          path: tfplan

      # Run Terraform Apply
      - name: Terraform Apply
        run: terraform apply tfplan
